<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/maxtesting/SeleniumAndTestingFramework/SeleniumAndTestNgFramework">
        <classes>
            <class name="org.max.qa.TestCases.LoginPage">
                <methods>
                    <include name="LoginPageTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>